.App {
  text-align: center;
}

.app_families_container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.app_species_container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}
.app_species_container_specie h1 {
  color: rgb(31, 117, 216);
}

.app_species_container_specie h2 {
  color: rgb(124, 124, 124);
  font-size: 20px;
}
